<strong>Olá, {{ student_name }}</strong>
<p>Bem-Vindo a GymPoint! confira os detalhes de sua matrícula abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan_title}} <br />
  <strong>Validade: </strong> {{ enrollment_end_date }} <br />
  <strong>Valor: </strong> R$ {{ enrollment_price }} <br />
  <br />
</p>
