<strong>Olá, {{ student_name }}</strong>
<p>Bem vindo a GYMPOINT! confira os detalhes de sua matrícula abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan_title}} <br />
  <strong>Data válidade: </strong> {{ plan_end_date }} <br />
  <strong>Valor: </strong> {{ enrollment_price }} <br />
  <br />
</p>
